# DB
DATABASE_URL = ''
SHADOW_DATABASE_URL = ''

# AUTH
GOOGLE_CLIENT_ID = ''
GOOGLE_CLIENT_SECRET = ''

# openssl rand -base64 32
NEXTAUTH_URL = ''
NEXTAUTH_SECRET = ''

# UPSTASH
UPSTASH_REDIS_REST_URL = ''
UPSTASH_REDIS_REST_TOKEN = ''

# ANALYTICS
NEXT_PUBLIC_GTAG = ''
NEXT_PUBLIC_CLARITY_PROJECT_ID = ''