@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://ui.shadcn.com/themes */

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 240 10% 3.9%;
		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;
		--primary: 142.1 76.2% 36.3%;
		--primary-foreground: 355.7 100% 97.3%;
		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;
		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;
		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;
		--ring: 142.1 76.2% 36.3%;
		--radius: 0.75rem;
	}

	.dark {
		--background: 20 14.3% 4.1%;
		--foreground: 0 0% 95%;
		--card: 24 9.8% 10%;
		--card-foreground: 0 0% 95%;
		--popover: 0 0% 9%;
		--popover-foreground: 0 0% 95%;
		--primary: 142.1 70.6% 45.3%;
		--primary-foreground: 144.9 80.4% 10%;
		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;
		--muted: 0 0% 15%;
		--muted-foreground: 240 5% 64.9%;
		--accent: 12 6.5% 15.1%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 85.7% 97.3%;
		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--ring: 142.4 71.8% 29.2%;
	}
}

@layer components {
	.header-item {
		@apply flex cursor-pointer items-center
		justify-center py-5 text-lg font-medium focus:z-20 lg:text-lg;
	}
	.error-text {
		@apply text-red-600 dark:text-red-400;
	}
	.select-button {
		@apply border-foreground p-2 text-xs outline-none transition-all duration-300 ease-in-out lg:text-lg;
	}
	.select-button-hover {
		@apply border-4 border-foreground hover:bg-foreground/20 hover:shadow-md;
	}
	.select-button-active {
		@apply border-4 border-foreground bg-foreground text-accent shadow-md dark:shadow-none;
	}
}

@layer utilities {
	.radial-bg-light {
		background: radial-gradient(
			circle,
			rgba(2, 0, 36, 0) 0,
			var(--background) 100%
		);
	}
	.dark .radial-bg-dark {
		background: radial-gradient(
			circle,
			rgba(2, 0, 36, 0) 0,
			var(--background) 100%
		);
	}
}

@keyframes gradientAnimation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.animated-gradient {
	background: linear-gradient(270deg, #007cf0, #dfcd00, #ff4d00, #81c209);
	background-size: 800% 800%;
	animation: gradientAnimation 15s ease infinite;
}
